<!DOCTYPE html>
<html>
{% extends "layout.html" %}

{% block content %}
<script src="../static/js/sessionDatail.js"></script>
<script src="../static/jquery.js"></script>
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<a href="/menu">
				<img class="col-xl-12 d-flex m-0 p-0" src="/static/logo/logo1.png" title="Komusho_logo1">
			</a>
		</div>
		<hr>
		<div class="row">
			<div class="col-xl-4 d-flex">
				<label class="form-label ml-2 mt-2">日時：</label>
				<input class="ml-2" type="datetime-local" id="sessionAt" name="datetime" value="{{sessionData[1]}}" data-value1>
			</div>
			<!--div class="col-xl-4 d-flex">
				<label class="form-label ml-2 mt-2 text-nowrap">時間（分）：</label>
				<input type="number" class="form-control" id="sessionMin" value="{{sessionData[2]}}" data-value1>
			</div-->
			<div class="col-xl-4 d-flex">
				<label class="form-label mt-2 text-nowrap" >コース：</label>
				<select class="ml-2 form-control" id="courseId" data-value1>
					{% for elem in couseList %}
						{% if elem[0] == sessionData[3] %}
							<option value='{{ elem[0] }}' selected>{{ elem[1] }}</option>
						{% else %}
							<option value='{{ elem[0] }}'>{{ elem[1] }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="col-xl-2 d-flex"></div>
			<div class="col-xl-2 d-flex">
				<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
					削除
				  </button>
			</div>
		</div>
		<div class="row">
			<label class="form-label d-flex mt-3 ml-3">備考</label>
  			<textarea class="form-control d-flex ml-2" id="biko" rows="3" data-value1>{{sessionData[4]}}</textarea>
		</div>
		<h4><ins class="d-flex mt-5">menu</ins></h4>
		<hr>
		<div id="sessionMenuFluid">
		</div>
		<div id="sessionNaiyo" class="container-fluid" style="display: none;">
			<div class="row">
				<div class="col-xl-3">
					<label class="form-label">種目</label>
					<select class="form-control" name="selectShumoku" data-value2="shumoku_id">
						<option value=''>------------------</option>
						{% for elem in shumokuList %}
							<option value='{{ elem[0] }}'>{{ elem[1] }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-xl-2">
					<label class="form-label">重量(kg)</label>
					<input type="number" class="form-control" name="inputJuryo" data-value2="juryo">	
				</div>
				<div class="col-xl-2">
					<label class="form-label">回数</label>
					<input type="number" class="form-control" name="inputKaisu" data-value2="kaisu">
				</div>
				<div class="col-xl-2">
					<label class="form-label">セット数</label>
					<input type="number" class="form-control" name="inputSetsu" data-value2="setsu">
				</div>
				<div class="col-xl-1"></div>
				<div class="col-xl-2">
					<button type='submit' class='btn btn-secondary' name='btnDelete' data-value2>削除</button> 
				</div>
			</div>
			<div class="row">
				<div class="col-xl-9">
					<label class="form-label d-flex mt-3">その他</label>
					<textarea class="form-control" name="shumokuBiko" rows="3" data-value2="biko"></textarea>
				</div>
			</div>
			<hr>
		</div>
		<button onclick="sessionNaiyoInsert()">追加</button>
	</div>

	<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title" id="myModalLabel">警告</h4>
			</div>
			<div class="modal-body">
			  削除していいですか？
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
			  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">OK</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title" id="myModalLabel">警告</h4>
			</div>
			<div class="modal-body">
			  本当にいいですか？？？
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
			  <button type="button" class="btn btn-primary" onclick="proceed()">OK</button>
			</div>
		  </div>
		</div>
	</div>
	
</div>
{% endblock %}
</html>